.ingredients {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 15px;

    
}

#ingredients-img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.ingredients-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    line-height: 1.6;

    padding: 20px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(10, 10, 10, 0.1);
}

